<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xiadan"
    android:versionCode="101"
    android:versionName="1.0.1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--百度地图所需权限-->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".whole.XiaDanApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.ATableViewDemo">
        <!--添加百度地图开发密钥-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="KCMaw6PbYyZNTBOo2UuP9YjP" />

        <activity
            android:name=".home.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginregister.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".loginregister.CompanyLoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".loginregister.RegisterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".order.XiaOrderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".order.ResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".order.SuccesstActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menucontent.FeedBackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menucontent.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menucontent.CouponActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.PriceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.QuestionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menucontent.MyJiFenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menucontent.MyOderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".order.OrderDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginregister.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menucontent.ModifyPassworsdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginregister.UserProtocal"
            android:screenOrientation="portrait" />
        <service android:name=".services.NotificationDownloadService" />
    </application>
</manifest>
